#rf_about_body{
	margin:                 0;
	-webkit-user-select:    none;
}
#mp_div_top_section {
	padding:                0;
	margin:                 0;
	height:                 121px;
	max-height:             121px;
	min-height:             121px;
	width:                  100%;
	max-width:              100%;
	min-width:              800px;
	z-index:                2147483647; 
	border:                 0;
	left:                   0px;
	top:                    0px; 
	position:               fixed;
	background:             transparent url(images/mp_bg_top.png) repeat-x;
	position:               relative;
	margin-bottom:          10px;
}
#mp_toplogo_image{
	position:               absolute; 
	top:                    20px;
	padding-left:           25px;
	z-index:                100;   
}
#mp_toplogo_arr_image{
	position:               absolute; 
	top:                    0px;
	padding-left:           230px;
	z-index:                100;   
}
#rf_about_main_div{
	margin:                 0;
	padding:                0;
	border:                 0;
	padding-left:           25px;
}
#rf_about_extension_lbl{
	font-family:            Verdana; 
	font-size:              24px;
	color:                  Gray;
	font-weight:            800;
}
#rf_about_main_table{
	color:                  gray;
	font-family:            verdana;
	font-size:              14px;
	margin-top:             20px;
}
#rf_about_build_td,
#rf_about_version_td{
	font-weight:            600;
}
#rf_about_copyright_lbl{
	font-family:            Verdana; 
	font-size:              14px;
	color:                  Gray;
}